* {
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6cb3a9;
}

div {
  width: 200px;
  height: 200px;
  background: linear-gradient(#d25b70 90px, #781728 90px 110px, #ffffff 110px);
  border-radius: 100%;
  display: flex;
}

.inner-circle {
  background: #f6df96;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 10px solid #781728;
}

.pokeball:before {
  content: '';
  width: 10px;
  height: 20px;
  background-color: #6cb3a9;
  align-self: center;
  box-shadow: 190px 0px #6cb3a9;
}
